.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/Unity/Assets/StreamingAssets/
/Unity/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user
/Unity/Unity.Editor.csproj
/Unity/Assembly-CSharp.csproj
~$*.xlsx
~$*.xlsx.meta
/.vscode
/Unity/UserSettings/Search.settings
/Unity/Unity.Hotfix.csproj
/Unity/Unity.HotfixView.csproj
/Unity/Unity.Model.csproj
/Unity/Unity.ModelView.csproj

/Unity/ProjectSettings/RiderScriptEditorPersistedState.asset
/Unity/Unity.Core.csproj
/Unity/UserSettings
/Unity/Unity.Codes.csproj
/Unity/Unity.Loader.csproj
/Unity/Unity.Ignore.csproj
Publish/
/Unity/Assets/Bundles/Code/*
/Unity/Unity.GenerateClient.csproj
/Unity/Unity.GenerateServer.csproj

/Unity/Assets/Bundles/AotDlls/*
/Unity/HybridCLRData
/Unity/Assembly-CSharp-firstpass.csproj

/Unity/*.csproj
/Unity/*.vsconfig
/Unity/Assets/效果图
/Unity/Assets/效果图.meta
WebGL
Unity/Bundles

Config/Excel
Config/Json

/Unity/Assets/Scripts/Model/Generate/Client/Config
/Unity/Assets/Scripts/Model/Generate/Client/Config.meta
/Unity/Assets/Scripts/Model/Generate/Client/Message
/Unity/Assets/Scripts/Model/Generate/Client/Message.meta
/Unity/Assets/Scripts/Model/Generate/Server/Config
/Unity/Assets/Scripts/Model/Generate/Server/Config.meta
/Unity/Assets/Scripts/Model/Generate/Server/Message
/Unity/Assets/Scripts/Model/Generate/Server/Message.meta
/Unity/Assets/Scripts/Model/Generate/ClientServer/Config
/Unity/Assets/Scripts/Model/Generate/ClientServer/Config.meta
/Unity/Assets/Scripts/Model/Generate/ClientServer/Message
/Unity/Assets/Scripts/Model/Generate/ClientServer/Message.meta
/Unity/Assets/Bundles/Config
/Unity/Assets/Bundles/Config.meta
Unity/Assets/Scripts/Model/Share/Module/Numeric/NumericType.cs
Unity/Assets/Scripts/Model/Share/Module/Numeric/NumericType.cs.meta
/Unity/Assets/Scripts/ModelView/Client/Plugins/EUI/WindowId.cs
/Unity/Assets/Scripts/ModelView/Client/Plugins/EUI/WindowId.cs.meta
/Unity/Assets/Scripts/Hotfix/Share/ConstCfgValue.cs
/Unity/Assets/Scripts/Hotfix/Share/ConstCfgValue.cs.meta
/Unity/Assets/Scripts/ModelView/Client/Game/Menu/SystemMenuType.cs
/Unity/Assets/Scripts/ModelView/Client/Game/Menu/SystemMenuType.cs.meta
/Unity/Assets/Scripts/Model/Share/Game/ErrorCode.cs
/Unity/Assets/Scripts/Model/Share/Game/ErrorCode.cs.meta